@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  box-sizing: border-box;
  color: #333;
}

.blind {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
}

.wrap {
  width: 1200px;
  margin: auto;
  /* div = block 요소이므로 margin auto해도 가운데정렬 가능 */
  /* txt가 가운데 정렬하려면 text-align */
  /* position 값은 t50% 방향50% */
  /* a태그는 인라인 div는 block */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align items는 한 줄 text-align은 두 줄 */
  height: 100px;
  border-bottom: 1px solid #000;
  z-index: 1000;
  position: relative;
}

.gnb .gnb-depth1 {
  display: flex;
}

.gnb .gnb-depth1 > li {
  position: relative;
}

.gnb .gnb-depth1 > li > a {
  /* a태그는 인라인이므로 뭐 지정할려면 block으로 */
  width: 120px;
  font-size: 20px;
  display: block;
  text-align: center;
  /* padding: 20px; */
}

.gnb .gnb-depth2 {
  position: absolute;
  top: 64px;
  width: 100%;
  left: 0;
  padding: 10px 0px;
  background: #434748;
}

.gnb .gnb-depth2 li a {
  text-align: center;
  color: white;
  display: block;
  padding: 7px 0;
  font-size: 14px;
}

.slide {
  /* img는 인라인이므로 연속해서 들어가면 밑에 space가 좀 생김 고로
  display를 block으로 해주면 공백 없어짐 */
  height: 300px;
  background: lightcoral;
  overflow: hidden;
  position: relative;
}

.slide ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.slide img {
  display: block;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.sec-g {
  width: 30%;
  height: 180px;
  position: relative;
  /* background: gresen; */
  /* line-height: 180px; */
  /* font-weight: bold; */
}
.sec-g .sec-tit {
  border-bottom: 2px solid #000;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 2px;
}
.sec-g .link-more {
  position: absolute;
  content: "";
  top: 3px;
  right: 0;
}

.lst-bbs li {
  position: relative;
  padding-left: 10px;
}

.lst-bbs li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  transform: translate(-50%);
  width: 10px;
  height: 10px;
  background: green;
}

.lst-bbs a {
  display: block;
  overflow: hidden;
  font-size: 14px;
  padding: 2px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lst-gallery {
  display: flex;
  justify-content: space-between;
}

.lst-gallery li {
  width: 30%;
}

.lst-gallery img {
  display: block;
  width: 100%;
  height: 80px;
  object-fit: cover;
  /* 사진 위치 바꾸려면 object-postion */
  object-position: 50% 0;
  border-radius: 3px;
}

.lst-gallery p {
  font-size: 14px;
  margin-top: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #000;
}

.logo-head img,
.logo-foot img {
  filter: grayscale(100%);
}

.copyright {
  font-size: small;
  text-align: center;
}

footer .family a {
  padding: 20px;
}

/* .bnr-test-ul {
  display: flex;
   justify-content: space-between;
}

.bnr-test-li { 
  width: 30%;
}
.bnr-test img {
  width: 100%;
} */
