@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  color: #333;
}

.inner {
  display: flex;
}

header {
  position: relative;
  width: 200px;
  background: white;
  border: 1px solid black;
  border-bottom: 0px;
}

.logo a {
  display: block;
  /* text-align : center; */
  /* img 태그가 inline 일 경우 */
}

.logo img {
  display: block;
  margin: auto;
}

#gnb .depth1 {
  padding: 0 30px;
}

#gnb .depth1 > li > a {
  display: block;
  position: relative;
  padding: 11px 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#gnb .depth1 > li > a:hover {
  background: blue;
}

#gnb .depth1 > li > a::after {
  content: ">";
  position: absolute;
  top: 10px;
  right: 0;
  opacity: 0.5;
  transition: all 0.3s linear;
}

#gnb .depth1 > .active > a::after {
  transform: rotate(90deg);
}

#gnb .depth2 {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  transition: all 0.3s linear;
}

#gnb .active .depth2 {
  max-height: 500px;
  padding-top: 10px;
}

#gnb .depth2 a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  color: #555;
}

#gnb .depth2 a:hover {
  background: blue;
  color: white;
}

/* util */
.util {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.util a {
  position: relative;
  display: block;
  padding: 5px;
  margin-top: -5px;
}

.util a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 1px;
  height: 15px;
  background: #000;
  opacity: 0.5;
}

.util a:first-child::before {
  display: none;
}

/* .util span {

  div display block이나 
  span은 display inline 이 거 제외하고 
  둘이 비슷한 용도로 사용하나 div가 span을 포괄하는 느낌
  
  display: block;
  opacity: 0.5;
} */

main {
  position: relative;
  flex-grow: 1;
  /* flex-grow 나머지 공간은 내가 다 사용할게 */
  width: calc(100% - 200px);
}

.quick {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  align-content: center;
}

.quick a {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.quick img {
  display: block;
  width: 80px;
}

.slide {
  position: relative;
  overflow: hidden;
  height: 400px;
  background: lightgray;
}

.slide ul {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: ani-slide;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes ani-slide {
  0% {
    top: 0px;
  }
  30% {
    top: 0px;
  }
  33% {
    top: -100%;
  }
  63% {
    top: -100%;
  }
  66% {
    top: -200%;
  }
  96% {
    top: -200%;
  }
  100% {
    top: 0;
  }
}

.slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  height: 400px;
  object-fit: cover;
}

.banner {
  height: 200px;
  background: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.banner a {
  display: block;

  padding: 20px;
}

.banner img {
  display: block;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.tabs-wrap {
  position: relative;
  margin: 20px;
  padding-top: 60px;
  height: 250px;
  background: white;
}

.tabs-wrap::before {
  /* before은 tabs-wrap 가장 처음부분에 위치, after은 가장 마지막에 위치 */
  z-index: 5;
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  display: block;
  position: absolute;
  top: 48px;
  left: 0;
}

.tabs-wrap .tab-tit {
  font-size: large;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #000;
  background: lightgray;
  text-align: center;
}

.tabs-wrap .tab-tit button {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.tabs-wrap .active .tab-tit {
  z-index: 10;
  border: 3px solid black;
  background: white;
  border-bottom: 3px solid white;
}

.tabs-wrap .tit-gly {
  left: 98px;
}

.tabs-wrap .tab-cont {
  display: none;
}

.tabs-wrap .active .tab-cont {
  display: block;
}

.lst-bbs a {
  display: flex;
  padding: 7px 0px;
  justify-content: space-between;
}

.lst-bbs a p {
  width: 77%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: medium;
}

.lst-bbs a em {
  font-size: small;
}

.lst-gallery {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
}

.lst-gallery li {
}

.lst-gallery img {
  display: block;
  width: 100%;
  height: 150px;
}

footer {
  height: 100px;
  background: black;
  color: white;
}
